<!-- views/partials/footer.ejs -->
<footer style="background: #004aad; padding: 1rem; color: white; text-align: center;">
  <div class="container">
    <p>&copy; 2025 Online Banking Inc.</p>
  </div>
</footer>
